<div class="watchlist-container" ng-controller="WatchlistCtrl">
    <h3 class="title">Hello!</h3>
    <div class="content">
        <p>This is a popup</p>

            <p>{{test}}</p>
            <multiselect class="" multiple="true" ms-selected="There are {{selectedCar.length}} car(s) selected"
                         ng-model="selectedCar" ms-header="Select Some Cars"
                         options="c.name for c in cars"
                         change="selected()">
            </multiselect>



       
    </div>
    <div class="footer">
		<div class="well well-sm">
			{{selectedCar}}
		</div>
		<a ng-click="hidePopover()" class="btn btn-primary">Done</a>
        <p>xxxx</p>
    </div>
</div>