<div class="btn-group">
  <ul class="dropdown-menu searchfilter" ng-show="fasle">
    <li>
      <input class="form-control input-sm" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" />
    </li>
  </ul>
  <ul class="dropdown-menu dropdown-size">
    <li ng-repeat="i in items | filter:searchText">
	  <a class="watchlist-item-edit" ng-click="renameItem(i); focus()"><i class="glyphicon glyphicon-pencil"></i></a>
      <a class="watchlist-item-label" ng-click="select(i); focus()"><i class='glyphicon' ng-class="{'glyphicon-ok': i.checked, 'empty': !i.checked}"></i> {{i.label.name}}</a>
	  
    </li>
  </ul>
</div>
