.popover {
	max-width: 400px;
}

.watchlist-container {
	width: 300px;
}

.watchlist-container .content {
	//min-height: 250px;
}

.watchlist-container .btn-group {
	width: 100%;
}

.watchlist-container .dropdown-menu {
	position: relative;
	display: block;
	width: 100%;
}

.watchlist-container ul.dropdown-menu li:hover {
	background: #FFCB05;
}

.watchlist-container .dropdown-menu.dropdown-size {
	max-height: 200px;
	overflow: auto;
	border: 0px;
	border-bottom: 1px solid #cccccc;
}

.watchlist-container .dropdown-menu .watchlist-item-label{
	clear: left;
	cursor: pointer;
}
.watchlist-container .dropdown-menu .watchlist-item-edit{
	float: right;
	padding-top: 7px;
	cursor: pointer;
	clear: left;
}

ul.dropdown-menu > li > a {
	padding: 7px 10px; 
}

.watchlist-container .header {
	position: relative;
	padding: 10px;
	padding-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(200, 200, 200);
    border-bottom-style: solid;
}
.watchlist-container .header .title  {
	text-align: center;
}
.watchlist-container .header  .btn {
	float: right;
}

.watchlist-container .footer .watchlist-edit {
	height:	30px;
	line-height: 30px;
	margin: 15px;
	text-align: center;
}
.watchlist-container .footer .watchlist-edit a {
	cursor: pointer;
}

.watchlist-container .footer .watchlist-edit input{
	height: 32px;
}

.watchlist-container .footer .well {
	margin-bottom:	0px;
}

