.popover {
	max-width: 400px;
}

.watchlist-container {
	width: 300px;
}

.watchlist-container .content {
	min-height: 500px;
}

.watchlist-container .btn-group {
	width: 100%;
}

.watchlist-container .dropdown-menu {
	position: relative;
	display: block;
	width: 100%;
}

.watchlist-container .dropdown-menu.dropdown-size {
	max-height: 200px;
	overflow:	auto;
}


